<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuk Tuk Go</title>
</head>
<body>
    <h1>Tuk Tuk Go</h1>
    <br>
    <br>
    <h3>available autos</h3>
    <ol>
        <% availableDrivers.forEach( rickshaw => { %>
            <li>HoHo
                <ul>
                    <li>Where he is <%= rickshaw.diLocation %></li> 
                    <li>Occupancy: <%= rickshaw.occupancy %></li>
                    <li><form method="get" action=<%="/book/" + rickshaw._id%>>
                        <button type="submit">Book</button>
                    </form></li>
                </ul>
            </li>
        <% }) %>
    </ol>
</body>
</html>